:root {
  --paddind: 20px;
  --black-color: hsla(215, 100%, 0%, 1);
  --light-color: hsla(215, 0%, 100%, 1);
  --primary-color: #E63DFF;
  --secondary-color: #246EFF;
}

body {
  background: radial-gradient(circle at 100% 100%, var(--light-color), var(--black-color)80%);
  background-attachment: fixed;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.3rem;
  margin-left: 20px;
}

h1 {
  color: rgba(255, 255, 255, 1);
}

h2 {
  margin-top: 0;
}

span {
  font-size: 1rem;
  font-weight: 350;
}

.FilmDetails {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.miniature {
  height: 250px;
  width: 100%;
  backdrop-filter: blur(15px);
  margin: 0;
  padding: 0;
  top: 0;
  position: sticky;
  box-shadow: inset 0 10px 100px rgba(0, 0, 0, 1);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.miniature img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(2px 10px 50px rgba(255, 255, 255, 1));
}

details {
  display: grid;
  place-items: center;
  width: fit-content;
  max-width: 90%;
  border-bottom: 1px solid rgba(100, 79, 255, 1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 auto;
}

details p {
  color: rgba(220, 216, 255, 1);
  font-size: .9rem;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
  
}

summary {
  background: rgba(100, 79, 255, 1);
  border-radius: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 2rem;
}

.namely,
.author,
.otherInfo,
.ratingAndSource {
  width: calc(100% - var(--padding)*2);
  padding: var(--paddind);
}


.webSite {
  font-size: .8rem;
}

.webSite a {
  text-decoration-color: rgba(149, 29, 255, 1);
}